<!DOCTYPE html>
<html>
<head lang="{{ #language }}">
  <meta charset="UTF-8" />
  <title>{{ #title }}</title>
  <meta name="description" content="{{ #description }}" />
  <meta name="keywords" content="{{ #keywords }}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/bootstrap-3.4.1.min.css" />
  <link rel="stylesheet" href="/styles/git.css" />
</head>
<body>

{{ layout }}

<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="/scripts/bootstrap-3.4.1.min.js"></script>
{{ #control-search-button }}

</body>
</html>
