<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar-collapse-menu">
            <span class="sr-only">Navigation change</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{=brand}}</a>
        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
          {{ #bootstrap-navbar }}
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <div class="container-fluid">
    <div class="row paper">
      <div class="col-lg-9 col-md-9 col-sm-9">
        {{content}}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 right-bar">
        <h1>&nbsp;</h1>
        {{right}}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row footer">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      {{=footer}}
    </div>
  </div>
</div>
