/* Layout */
body {
    min-height: 100%;
    padding-top: 50px;
}
.navbar-default {
    background-color: #e8f0ff;
    border-color: #cedfff;
}
.navbar-brand {
    position: relative;
    top: -15px;
}
.navbar-default .navbar-nav > li > a {
    color: #111;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.3;
}
.row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.content {
}
.paper {
    min-height: 600px;
}
.footer {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 3px solid #ef4f39;
}
.left-bar ul, .right-bar ul {
    list-style-type: none;
    padding-left: 0;
}
h1 {
    color: #6495ed;
}
h3, h4 {
    color: #ef4f39;
}
a, a:visited {
    color: #3cb371;
}
em {
    text-decoration: underline;
}
code {
    background-color: #f0f8ff;
    color: #0000cd;
    font-size: 1em;
}
pre {
    background-color: #fffff0;
    border-color: #f5deb3;
    font-size: 0.9em;
}
blockquote {
    font-size: 0.9em;
    font-style: italic;
}
td:first-of-type {
    color: #a52a2a;
}
table.dictionary {
    margin-left: 25px;
}
table.dictionary td:first-of-type {
    padding-right: 25px;
}
ul li ul {
    margin-left: 20px;
}
li hr {
    height: 2px;
    border-top: 2px solid #aaa;
    margin: 8px 30px 6px 0;
}
/* Navigation bar */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #fce4ec;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: pink;
}
/* Input group in navigation bar */
.navbar-input-group {
    font-size: 0; /* removes whitespace between button and input */
}
.navbar-input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 130px !important;
}
.navbar-input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
/* Search page */
.search-phrase {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f8f8f8;
}
.search-result {
    margin-bottom: 5px;
    padding: 0 1em 5px 1em;
    border-bottom: solid 2px #e7e7e7;
}
.search-result h4 {
    margin-bottom: 0;
}
